.app {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height:10vh; */
}
